

.projects-card {
	position: relative;
	width: 25em;
	height: 25em;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
	padding: 1em;
	background-image: url(https://thumbs.dreamstime.com/b/ic%C3%B4ne-de-gestion-des-projets-dans-le-style-plat-symbole-projet-pour-votre-conception-site-web-logo-appli-ui-vecteur-illustration-144607341.jpg);
	background-position: center center;
	background-size: cover;
	transition: 1s;
	overflow-y: hidden;

}
.project-info-container {
	position: absolute;
	top: 80%;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .5s;
	padding: 0 1em 1em 1em;
	overflow: hidden;
}

.project-title {
	font-size: var(--font-size-project-title);
	color: var(--main-color);
	font-weight: 800;
	text-transform: uppercase;
	margin: 1em 0 .3em 0;
	transition: .3s;
}

.project-load-bar {
	width: 0;
	height: 3px;
	background: var(--main-color);
	margin: 0;
}

.projects-card:hover {
	transform: scale(1.05);
}

.projects-card:hover .project-info-container {
	top: 48%;
	left: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1em;
	background: linear-gradient(hsl(0 0% 0% / 0),hsl(20 0% 0% / 0.3) 20%,hsl(0 0% 0% / 1));
}

.project-short-desc, .project-btn{
	font-size: var(--font-size-text);
	color: rgb(63, 63, 92);
  margin: 1em 0 0 0;
	display: none;
	opacity: 0;
	font-weight: 200;
}

.project-btn {
	max-width: 10em;
	padding: .7em 0;
	margin: 1.5em 0;
	display: none;
	justify-content: center;
	border: none;
	border-radius: 15px;
	background: var(--main-color);
	text-transform: uppercase;
	font-size: 1rem;
	cursor: pointer;
	transition: .5s;
}

.project-btn a{
	color: red;
	font-weight: 400;
	justify-self: center;
	text-decoration: none;
}

.project-btn:hover {
	transform: scale(1.05);
}


.projects-card:hover .project-title {
	color: rgb(63, 63, 92);
}

.projects-card:hover .project-load-bar {
	display: flex;
	transition: opacity 1s ease;
	animation: project-load-animation 2s ease .1s forwards;
}

.projects-card:hover .project-short-desc {
	display: flex;
	transition: opacity 1s ease;
	animation: project-infos-animation 1s ease .8s forwards;
}

.projects-card:hover .project-btn{
	display: flex;
	transition: opacity 1s ease;
	animation: project-infos-animation 1s ease .8s forwards;
}


@keyframes project-load-animation {
  0% {width: 0;}
	15% {width: 0vw;}
  25% {width: 0vw;}
	50% {width: 35vw;}
	65% {width: 50vw;}
	75% {width: 75vw;}
	100% {width: 100vw;}
}


@keyframes project-infos-animation {
  from {opacity: 0;}
  to {opacity: 1;}
}
.cards{
  display: inline-block;
  margin: 1rem;
}
