<div class="container">
<div *ngFor="let item of listeProjet" class="cards">
<div class="projects-card project-one">
  <div class="project-info-container">
    <h3 class="project-title">{{item.name}}</h3>
    <span class="project-load-bar" ></span>
    <br>
    <p class="project-short-desc">Type du Projet :{{item.projectTypeKey}} </p>
    <button class="project-btn"> <a [routerLink]="['/detail']">See More</a> </button>
  </div>
</div>
</div>
</div>

