
    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
              <img src="../../assets/inetum1.png" alt="Inetum Tunisie" style="max-width: 40%;
              margin-left:-20%;
              margin-top: -4%;" />
            </div>
            <div class="busca" *ngIf="isLoggedIn">
              <button pButton pRipple type="button" label="Logout" class="p-button-rounded p-button-danger"
              (click)="logout()"
              ></button>
        </div>
  </div>
      </main>
