
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
ul {
  padding: 0px!important;
}
.menu-principal {
  width: 100%;
  background-color: #191919;
  height: 60px;
}
main {
  margin: 0 auto;
  width:1100px;
  position: relative;
}
.logo {
  float: left;
  padding: 11px;
  width: 75%;
}
.redes-sociais ul li {
  margin-left: 25px;
  margin-left: 40px;
  display: inline-block;
  list-style: none;
}
.redes-sociais {
  width: 20%;
  float: right;
}
.header-2 {
  background-color: #fff;
  width: 1100px;
  margin: 0 auto;
  padding: 20px;
}
.menu-urls {
  border-bottom: 3px solid #8b8b8b;
  height: 80px;

}
.menu ul li {
  display: inline-block;
  color: #8b8b8b;
  margin-left: 15px;
  height: 45px;
}
.menu ul li:hover{
  border-bottom: 3px solid #DB9DFF;;
}
.menu ul li a:hover {
  color: #DB9DFF;
}
.menu ul li a {
  color: #8b8b8b;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}
.menu {
  width: 75%;
  float: left;
}
.busca  {
  width: 20%;
  float: right;
  text-align: center;
}

.col-100  {
  width: 100%;
  float: left;
  position: relative;
}
