<div class="pg-footer">
  <footer class="footer">
    <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
      <path class="footer-wave-path" d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
    </svg>
    <div class="footer-content">
      <div class="footer-content-column">
        <div class="footer-logo">
        </div>
        <div class="footer-menu">
          <h2 class="footer-menu-name">Get Started</h2>
          <ul id="menu-get-started" class="footer-menu-list">
                  <li class="menu-item menu-item-type-post_type menu-item-object-product">
              <a href="#">Documentation</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product">
              <a href="#">Installation</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-content-column">
        <div class="footer-menu">
          <h2 class="footer-menu-name">Entreprise</h2>
          <ul id="menu-company" class="footer-menu-list">
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="#">Gfi</a>
              <p>Immeuble Horizon, Rue de la bourse</p>

              <p>Les Berges du Lac 2, 1053 Tunis, Tunisie</p>
              <p>Tél : (+216) 70 01 62 20</p>
              <p>Fax : (+216) 70 01 62 21</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-social-links"> <svg class="footer-social-amoeba-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 236 54">
          <path class="footer-social-amoeba-path" d="M223.06,43.32c-.77-7.2,1.87-28.47-20-32.53C187.78,8,180.41,18,178.32,20.7s-5.63,10.1-4.07,16.7-.13,15.23-4.06,15.91-8.75-2.9-6.89-7S167.41,36,167.15,33a18.93,18.93,0,0,0-2.64-8.53c-3.44-5.5-8-11.19-19.12-11.19a21.64,21.64,0,0,0-18.31,9.18c-2.08,2.7-5.66,9.6-4.07,16.69s.64,14.32-6.11,13.9S108.35,46.5,112,36.54s-1.89-21.24-4-23.94S96.34,0,85.23,0,57.46,8.84,56.49,24.56s6.92,20.79,7,24.59c.07,2.75-6.43,4.16-12.92,2.38s-4-10.75-3.46-12.38c1.85-6.6-2-14-4.08-16.69a21.62,21.62,0,0,0-18.3-9.18C13.62,13.28,9.06,19,5.62,24.47A18.81,18.81,0,0,0,3,33a21.85,21.85,0,0,0,1.58,9.08,16.58,16.58,0,0,1,1.06,5A6.75,6.75,0,0,1,0,54H236C235.47,54,223.83,50.52,223.06,43.32Z"></path>
        </svg>
        <a class="footer-social-link linkedin" href="#" target="_blank">
          <span class="hidden-link-text">Linkedin</span>
          <i class="pi pi-link"  style="margin-left:50% ;"></i>
        </a>
        <a class="footer-social-link twitter" href="https://twitter.com/PNahelia?s=09" target="_blank">
          <span class="hidden-link-text">Twitter</span>
          <i class="pi pi-twitter"  style="margin-left:50% ;"></i>
        </a>
        <a class="footer-social-link youtube" href="https://www.linkedin.com/in/pooja-nahelia-340040bb/" target="_blank">
          <span class="hidden-link-text">Youtube</span>
          <i class="pi pi-youtube"  style="margin-left:50% ;"></i>
        </a>
        <a class="footer-social-link github" href="#" target="_blank">
          <span class="hidden-link-text">Facebook</span>
          <i class="pi pi-facebook" style="margin-left:50% ;"></i>
        </a>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="footer-copyright-wrapper">
        <p class="footer-copyright-text">
          <a class="footer-copyright-link" href="https://npooja.now.sh/" target="_self"> ©2020. | Designed By: Pooja Nahelia. | All rights reserved. </a>
        </p>
      </div>
    </div>
  </footer>
</div>
